.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding:20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list{
    display:flex;
    justify-content: space-between;
}
.nav__link{
    position:relative;
    color:#2e363e;
}

@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }

    100%{
        transform: none;
    }
}
.nav__notification{
    position: absolute;
    left: 22px;
    bottom: 12.5px;
    animation: notificationAnimation 3s ease-in-out infinite;
}
.nav__ellipsisnoti{
    display:block;
    background-color: tomato;
    border-radius: 5px;
    width:10px;
    height:10px;
    position:absolute;
    left:25px;
    bottom:24px;
}