.screens-header{
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
    margin-bottom: 15px;
}
.screens-header__title{
    font-size:30px;
    font-weight: 600;
}

.screens-header__icons span{
    margin-left: 25px;
    position: relative;
}
