.user-component{
    justify-content: space-between; 
    width: 100%;
}    

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__column:last-child{
    align-items: flex-end;
}

.user-component__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 25px;
}

.user-component__title{
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
}

.user-component__subtitle{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin: 15px 0;
}

.user-component__avatar--xl{
    width:80px;
    height: 80px;
}

.user-component__avatar-sm{
    height: 60px;
    width: 60px;
    border-radius: 25px;    
}

.user-component__subtitle i{
    color: tomato; 
}

.user-component .user-component__end{
    display: flex;
    align-items: flex-end;
}